[tool.poetry]
name = "ci_plumber_openshift"
version = "0.1.0"
description = ""
authors = ["Miles Budden <git@miles.so>"]

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
